extends layout

block content
	h1= 'Ship / Cancel Order Items'
	
	<input type="button" name="button" value="Ship Orders"/> 
	div#successmessage
	div(id='otherpage') 
		a(href='/listshippeditems') return order items page


	form(method='POST' action='/shiporders')#shipform
		div
			table
				thead
					tr
						th STR_ID
						th ORD_ID
						th ORD_ST
						th ORDI_ID
						th SKU_PN
						th P_PN
						th SHPD_Q
						th CLD_Q
						th ORIG_Q		
						th Q_TO_SHP
						th Q_TO_CL
						th D_SHP
				tbody
					each result in orderitems
						tr&attributes({'id':result.ORDERS_ID, 'class':result.ROW_COLOR})

							td#storeid #{result.STOREENT_ID}
						
							td#ordersid #{result.ORDERS_ID}
						
							td#ordersstatus #{result.ORDERS_STATUS}
						
							td#orderitemsid #{result.ORDERITEMS_ID} 
																		
							td#skupartnum #{result.SKU_PARTNUMBER} 
						
							td#parentpartnum #{result.PARENT_PARTNUMBER}

							- var id3= "shippedq_" + result.ORDERS_ID;
							td&attributes({'id':id3}) #{result.SHIPPED_QUANTITY}

							- var id4= "cancelledq_" + result.ORDERS_ID;
							td&attributes({'id':id4}) #{result.CANCELLED_QUANTITY}
						
							- var id2= "originalq_" + result.ORDERS_ID;
							td&attributes({'id':id2}) #{result.QUANTITY}
						
							td#quantity 
								- var id= "quantity_" + result.ORDERS_ID;
								<select id= #{id}>
									- var n = -1;
									while n < (result.QUANTITY - (result.SHIPPED_QUANTITY+result.CANCELLED_QUANTITY))
										n=n++
										option= n
								</select>

							td#xquantity
								- var id= "xquantity_" + result.ORDERS_ID;
								<select id= #{id}>
									- var n = -1;
									while n < (result.QUANTITY - (result.SHIPPED_QUANTITY+result.CANCELLED_QUANTITY))
										n=n++
										option= n
								</select>

							td#dropship
								<input type="checkbox" id="dscheck"/>
			